<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAuRestoBillLabel" jhiTranslate="auRestoApp.auRestoBill.home.createOrEditLabel">Create or edit a Au Resto Bill</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!auRestoBill.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="auRestoBill.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoBill.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="auRestoBill.code"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoBill.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="auRestoBill.date"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoBill.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" [(ngModel)]="auRestoBill.status" >
                <option [ngValue]="null"></option>
                <option [ngValue]="auRestoBillStatusOption.id === auRestoBill.status?.id ? auRestoBill.status : auRestoBillStatusOption" *ngFor="let auRestoBillStatusOption of aurestobillstatuses; trackBy: trackAuRestoBillStatusById">{{auRestoBillStatusOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
