<div>
    <h2>
        <span jhiTranslate="auRestoApp.auRestoFormula.home.title">Au Resto Formulas</span>
        <button class="btn btn-primary float-right jh-create-entity create-au-resto-formula-au-resto" [routerLink]="['/', { outlets: { popup: ['au-resto-formula-au-resto-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="auRestoApp.auRestoFormula.home.createLabel">
            Create new Au Resto Formula
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'auRestoApp.auRestoFormula.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="auRestoFormulas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.title">Title</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.price">Price</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.auRestoMenu">Au Resto Menu</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.type">Type</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.entree">Entree</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.dish">Dish</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.dessert">Dessert</span></th>
            <th><span jhiTranslate="auRestoApp.auRestoFormula.auRestoOrder">Au Resto Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auRestoFormula of auRestoFormulas ;trackBy: trackId">
                <td><a [routerLink]="['../au-resto-formula-au-resto', auRestoFormula.id ]">{{auRestoFormula.id}}</a></td>
                <td>{{auRestoFormula.title}}</td>
                <td>{{auRestoFormula.price}}</td>
                <td>
                    <div *ngIf="auRestoFormula.auRestoMenu">
                        <a [routerLink]="['../au-resto-menu-au-resto', auRestoFormula.auRestoMenu?.id ]" >{{auRestoFormula.auRestoMenu?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="auRestoFormula.type">
                        <a [routerLink]="['../au-resto-formula-type-au-resto', auRestoFormula.type?.id ]" >{{auRestoFormula.type?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="auRestoFormula.entree">
                        <a [routerLink]="['../au-resto-recipe-au-resto', auRestoFormula.entree?.id ]" >{{auRestoFormula.entree?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="auRestoFormula.dish">
                        <a [routerLink]="['../au-resto-recipe-au-resto', auRestoFormula.dish?.id ]" >{{auRestoFormula.dish?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="auRestoFormula.dessert">
                        <a [routerLink]="['../au-resto-recipe-au-resto', auRestoFormula.dessert?.id ]" >{{auRestoFormula.dessert?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="auRestoFormula.auRestoOrder">
                        <a [routerLink]="['../au-resto-order-au-resto', auRestoFormula.auRestoOrder?.id ]" >{{auRestoFormula.auRestoOrder?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../au-resto-formula-au-resto', auRestoFormula.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'au-resto-formula-au-resto/'+ auRestoFormula.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'au-resto-formula-au-resto/'+ auRestoFormula.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
