
<div *ngIf="auRestoGender">
    <h2><span jhiTranslate="auRestoApp.auRestoGender.detail.title">Au Resto Gender</span> {{auRestoGender.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auRestoApp.auRestoGender.code">Code</span></dt>
        <dd>
            <span>{{auRestoGender.code}}</span>
        </dd>
        <dt><span jhiTranslate="auRestoApp.auRestoGender.name">Name</span></dt>
        <dd>
            <span>{{auRestoGender.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'au-resto-gender-au-resto/'+ auRestoGender.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
