<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAuRestoUserLabel" jhiTranslate="auRestoApp.auRestoUser.home.createOrEditLabel">Create or edit a Au Resto User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!auRestoUser.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="auRestoUser.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="auRestoUser.firstName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.middleName" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                [(ngModel)]="auRestoUser.middleName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="auRestoUser.lastName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.login" for="field_login">Login</label>
            <input type="text" class="form-control" name="login" id="field_login"
                [(ngModel)]="auRestoUser.login"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.password" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                [(ngModel)]="auRestoUser.password"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.photo" for="field_photo">Photo</label>
            <select class="form-control" id="field_photo" name="photo" [(ngModel)]="auRestoUser.photo">
                <option [ngValue]="null"></option>
                <option [ngValue]="auRestoPhotoOption.id === auRestoUser.photo?.id ? auRestoUser.photo : auRestoPhotoOption" *ngFor="let auRestoPhotoOption of photos; trackBy: trackAuRestoPhotoById">{{auRestoPhotoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.gender" for="field_gender">Gender</label>
            <select class="form-control" id="field_gender" name="gender" [(ngModel)]="auRestoUser.gender" >
                <option [ngValue]="null"></option>
                <option [ngValue]="auRestoGenderOption.id === auRestoUser.gender?.id ? auRestoUser.gender : auRestoGenderOption" *ngFor="let auRestoGenderOption of aurestogenders; trackBy: trackAuRestoGenderById">{{auRestoGenderOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="auRestoApp.auRestoUser.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" [(ngModel)]="auRestoUser.profile" >
                <option [ngValue]="null"></option>
                <option [ngValue]="auRestoProfileOption.id === auRestoUser.profile?.id ? auRestoUser.profile : auRestoProfileOption" *ngFor="let auRestoProfileOption of aurestoprofiles; trackBy: trackAuRestoProfileById">{{auRestoProfileOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
