
<div *ngIf="auRestoMenu">
    <h2><span jhiTranslate="auRestoApp.auRestoMenu.detail.title">Au Resto Menu</span> {{auRestoMenu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="auRestoApp.auRestoMenu.title">Title</span></dt>
        <dd>
            <span>{{auRestoMenu.title}}</span>
        </dd>
        <dt><span jhiTranslate="auRestoApp.auRestoMenu.date">Date</span></dt>
        <dd>
            <span>{{auRestoMenu.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="auRestoApp.auRestoMenu.auRestoRestaurant">Au Resto Restaurant</span></dt>
        <dd>
            <div *ngIf="auRestoMenu.auRestoRestaurant">
                <a [routerLink]="['/au-resto-restaurant-au-resto', auRestoMenu.auRestoRestaurant?.id]">{{auRestoMenu.auRestoRestaurant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'au-resto-menu-au-resto/'+ auRestoMenu.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
